@use '../../../scss/common.scss' as *;

.standardHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.standardHeroRight {
    display: block;
    @include small-break {
        display: none;
    }
}

.standardHeroLeft {
    display: none;
    @include small-break {
        display: block;
    }
}

.pfp {
    display: flex;
    width: 100%;
    height: auto;
    align-self: flex-end;
}

.pfpCell {
    @include small-break {
        padding-bottom: base();
    }
}

.contentWrap {
    height: 100%;
    width: 100%;
    align-items: center;
}

.position {
    display: flex;
    width: 100%;
    align-items: center;
}

.alignCenter {
    display: flex;
    height: 100%;
    align-items: center;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}