@use '../../../scss/common.scss' as *;

.standardHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pfp {
    display: flex;
    width: 100%;
    height: auto;
    align-self: flex-end;
}

.contentWrap {
    height: 100%;
    width: 100%;
    align-items: center;
}

.position {
    display: flex;
    width: 100%;
    align-items: center;
}

.alignCenter {
    display: flex;
    height: 100%;
    align-items: center;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}