@use "../../scss/common.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--header-color);
    padding: base(0.75);
    position: fixed;
    align-items: center;
    z-index: 999;
}

.rightSide {
    display: flex;
    gap: base();
    align-items: center;
}

.links {
    display: flex;
    gap: base(0.5);
    align-items: center;
}

.logo {
    height: 30px;
    width: 30px;
    color: var(--font-color);
}

.contactButton {
    margin: 0;
    color: var(--font-color);
    text-decoration: none;
}

.anchorButton {
    margin: 0;
    line-height: normal;
    display: flex;
    color: var(--font-color);
}

.icon {
        width: 24px;
        height: 24px;
}