@use "../../scss/common.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    padding: base(0.5);
    position: fixed;
    align-items: center;
    z-index: 999;
}

.rightSide {
    display: flex;
    gap: base();
    align-items: center;
}

.links {
    display: flex;
    gap: base();
    align-items: center;
}

.anchorButton {
    background-color: var(--background-primary-element);
    display: flex;
    padding: base(0.25);
    border-radius: 50%;
    color: var(--font-color);
}

.contactButton {
    background-color: var(--background-primary-element);
    display: flex;
    padding: base(0.25) base(0.5);
    color: var(--font-color);
}