@use "../../scss/common.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: base(0.5);
    position: sticky;
    top: 0;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 999;
    @include small-break {
    padding: base(0.25);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rightSide {
    display: flex;
    align-items: center;
    animation: fade 0.5s ease forwards;
}

.leftSide {
    animation: fade 0.5s ease forwards;
}

.links {
    display: flex;
    gap: base(0.5);
    align-items: center;
}

.logo {
    height: 30px;
    width: 30px;
    color: var(--font-color);
}

.contactButton {
    margin: 0;
    color: var(--font-color);
    text-decoration: none;
    font-size: large;
    @include mid-break {
        font-size: medium;
    }
    @include small-break {
        font-size: small;
    }
}

.anchorButton {
    margin: 0;
    line-height: normal;
    display: flex;
    color: var(--font-color);
}

.icon {
        width: 20px;
        height: 20px;
        @include mid-break {
            width: 16px;
            height: 16px;
        }
}

.scrolled {
    background-color: var(--header-color);
}

.notScrolled {
    background-color: transparent;
}

.easterEgg {
    display: flex;
    height: auto;
    border: none;
    background-color: transparent;
}

.lightEgg {
    filter: var(--filter-color);
}

.egg {
    width: 18px;
    height: 18px;
    cursor: pointer;
}