@use '@/scss/common' as *;

.timelineElement {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: base();
    gap: base(0.5);
    font-size: medium;

    @media screen and (min-width: 2350px) {
        font-size: x-large !important;
    }
}

.timelineElementWrap {
    background-color: var(--background-primary-element ); 
    display: flex;
    width: 100%;
    height: max-content;
}

.info {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}