@use '@/scss/common' as *;

.themeSlider {
    background-color: var(--background-primary-element);
    width: 65px;
    height: 35px;
    padding: base(.25) base(.35);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    @include mid-break {
        padding: base(0.2) base(0.3);
        width: 55px;
    height: 30px;
    }
}

.themeContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: auto;
}

.icon {
    color: var(--font-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include mid-break {
        width: 16px;
        height: 16px;
        top: 2px;
    }
}

.hidden {
    opacity: 0;
    transition: 0.1s linear ease-in-out;
}

.visible {
    opacity: 1;
}