@use '@/scss/common' as *;

.projectsCell {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: base(2);
    @include mid-break {
        gap: base();
    }
}

.projectHeading {
    position: sticky;
    top: 40vh;
    bottom: base(2);
    h3 {
        margin: 0;
        padding-bottom: base(0.5);
    }
    @include small-break {
        text-align: center;
    }
}

.largeCell {
    display: block;
    @include small-break {
        display: none;
    }
}

.smallCell {
    display: none;
    @include small-break {
        display: block;
    }
}