@use '@/scss/common' as *;

.toTop {
    position: relative;
    display: flex;
    &:hover {
           .link {
            transform: translateX(-6px) translateY(-6px);
           }
    }
    &:active {
        .link {
         transform: translateX(0) translateY(0);
        }
 }
}

.link {
    padding: base(0.5);
    transition: 100ms transform ease;
    display: flex;
    background-color: var(--background-primary-element);
}

.shadow {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-default-shadow);
}

.arrow {
    width: 28px;
    height: 28px;
    color: var(--font-color);
}