@use '@/scss/common' as *;

.linksDiv {
    display: flex;
    gap: base();
    align-items: center;
    @include small-break {
        justify-content: center;
        gap: base(0.5);
    }
}

.anchorButton {
    color: var(--color-brand-black);
    text-decoration: none;
    display: flex;
    p {
        margin: 0;
        text-decoration: none;
    }
}

.icon {
    width: 30px;
    height: 30px;
    color: white;
    @include large-break {
        width: 28px;
        height: 28px;
    }
    @include large-break {
        width: 20px;
        height: 20px;
    }
}

.cell {
    display: flex;
    flex-direction: column;
    gap: base();
}

.headingDiv {
    @include small-break {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.richTextDiv {
    @include small-break {
        text-align: center;
    }
}