@use '@/scss/common' as *;

.linksDiv {
    display: flex;
    gap: base(0.5);
    align-items: center;
}

.anchorButton {
    color: var(--color-brand-black);
    display: flex;
    @include large-break {
        padding: base(0.3);
    }
    padding: base(0.4);
}

.icon {
    width: 30px;
    height: 30px;
    color: white;
    @include large-break {
        width: 28px;
        height: 28px;
    }
    @include large-break {
        width: 20px;
        height: 20px;
    }
}

.cell {
    display: flex;
    flex-direction: column;
    gap: base();
}