@use '@/scss/common' as *;

.headingDiv {

}

.richTextDiv {
    margin-bottom: base(1.5);
    @include mid-break {
        margin-bottom: base();
    }
}

.linksDiv {
    display: flex;
    gap: base(0.5);
    align-items: center;
}

.anchorButton {
    color: var(--color-brand-black);
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    color: white;
    @include large-break {
        width: 28px;
        height: 28px;
    }
    @include large-break {
        width: 24px;
        height: 24px;
    }
}