@use '@/scss/common' as *;

.container {
    position: relative;
    width: 100%;
    min-width: max-content;
    margin-bottom: 20px;
    @include extra-large-break {
        margin-bottom: 15px;
    }
    @include large-break {
        margin-bottom: 12px;
    }
    @include mid-break {
        margin-bottom: 10px
    }
    @include small-break {
        width: 240px;
    }
}

.heading {
    @include h1;
    font-family: 'Mosk', 'Montserrat', 'sans-serif';
    margin: 0;
}

.headingWrap {
    background-color: var(--background-primary-element);
    display: flex;
    width: 100%;
    align-items: center;
    padding: base(0.5);
}

.headingLowImpact {
    @include h2;
    font-family: 'Mosk', 'Montserrat', 'sans-serif';
    margin: 0;
}

.headingLowImpactWrap {
    background-color: var(--background-primary-element);
    display: flex;
    width: 100%;
    align-items: center;
    padding: base(0.5);
}

.headingLowImpactontainer {
    position: relative;
    width: 100%;
    min-width: max-content;
}