@use '../../scss/common.scss' as *;

.gutter {
    padding: 0 base(4);
    @include large-break {
        padding: 0 base(4);
    }
    @include mid-break {
        padding: 0 base(3);
    }
    @include small-break {
        padding: base(1.25);
    }
    @include extra-small-break {
        padding: base();
    }
}