@use '@/scss/common' as *;

.left {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  left: base(-5);
  top: 0;
  width: base(35);
  height: base(40);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(30);
    height: base(25);
  }

  @include large-break {
    width: base(25);
    height: base(20);
  }

  @include mid-break {
    width: base(20);
    height: base(15);
  }
}

.right {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  right: base(-5);
  top: 0;
  width: base(25);
  height: base(20);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include large-break {
    height: base(20);
    width: base(15);
  }
}

.topLeft {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  left: base(-10);
  top: base(-5);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(25);
    height: base(20);
  }
}

.topRight {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  right: base(-10);
  top: base(-5);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(25);
    height: base(20);
  }
}

.center {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(25);
    height: base(20);
  }
}

.centerLeft {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  left: base();
  top: 50%;
  transform: translateY(-50%);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include large-break {
    height: 30rem;
    width: 30rem;
  }
}

.centerRight {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  right: base();
  top: 50%;
  transform: translateY(-50%);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include large-break {
    height: 30rem;
    width: 30rem;
  }
}

.bottomLeft {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  left: base(-5);
  bottom: base(-10);
  width: 40rem;
  height: 30rem;
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(25);
    height: base(20);
  }
}

.bottomRight {
  background-color: var(--brand-color);
  position: absolute;
  z-index: -1;
  right: base(-5);
  bottom: base(-10);
  width: base(30);
  height: base(25);
  opacity: var(--bg-opacity);
  border-radius: 50%;
  filter: blur(10rem);

  @include extra-large-break {
    width: base(25);
    height: base(20);
  }
}