@use '@/scss/common' as *;

.emailForm {
    padding: base();
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: base(1.5);
    background-color: var(--background-primary-element);
    .formGroup {
        input {
            outline: none;
            font-size: x-large;
            color: var(--font-color);
            font-family: var(--font-body);
            border: none;
            background-color: transparent;
            border-bottom: 2px solid var(--brand-color);
            display: flex;
            width: 100%;
            @include extra-large-break {
                font-size: large;
            }
            @include large-break {
                font-size: medium;
            }
        }
        textarea {
            outline: none;
            font-size: x-large;
            color: var(--font-color);
            font-family: var(--font-body);
            border: none;
            background-color: transparent;
            border-bottom: 2px solid var(--brand-color);
            display: flex;
            width: 100%;
            height: 250px;
            @include extra-large-break {
                font-size: large;
            }
            @include large-break {
                font-size: medium;
            }
        }
    }
    @include extra-large-break {
        gap: base();
    }
}

.buttonWrap {
    display: flex;
    width: 100%;
    justify-content: center;
    .plane {
        transition: 100ms ease transform;
    }
}

.button {
    display: flex;
    width: max-content;
    &:hover {
        .plane {
            transform: translateX(3px) translateY(-3px);
        }
    }
}

.send {
    padding: 10px 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: transparent;
    font-size: large;
    border: none;
    font-family: var(--font-body);
    color: white;
    cursor: pointer;
}

.warningToast {
    background-color: var(--background-primary-element);
    border: 0;
}

.successToast {

}

.errorToast {

}