@use '@/scss/common' as *;

.grid {
    display: flex;
    align-items: center;
}

.toaster {
    background-color: var(--background-primary-element);
    color: var(--font-color);
}

.shown {
    display: block;
}

.hidden {
    display: none;
}