@use '@/scss/common' as *;

.center {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.skillsLeft {
    display: none;
    @include small-break {
        display: block;
    }
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.smallCell {
    display: flex;
    width: 100%;
}