@use '@/scss/common' as *;

.timeline {
    h2 {
        margin: 0;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timelineSection {
    display: flex;
    gap: base();
    height: auto;
    width: 100%;
    position: relative;
    padding-top: base(5);
    padding-bottom: base(5);
@media screen and (max-width: 1424px) {
    padding-top: base(5.5);
    padding-bottom: base(5.4);
}
    @include large-break {
        padding-bottom: 0;
        padding-top: 0;
        justify-content: center;
    }
}

.timelineElement {
    position: relative;
    width: 100%;
    display: flex;
    gap: base();
    flex-direction: row;

    @include large-break {
        flex-direction: column;
    }

    &:nth-child(odd) {
        transform: translateY(calc(-85%));
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: -14px; /* Adjust size */
            left: base();
            width: 0;
            height: 0;
            border-left: 15px solid transparent; /* Adjust size */
            border-right: 15px solid transparent; /* Adjust size */
            border-top: 15px solid var(--background-primary-element); /* Change color */
            transform: translateX(-50%);
            z-index: 2; /* Increase z-index */;
            @include large-break {
                display: none;
            }
        }
        .timelineIcon {
            bottom: -85px;
            left: base();
            transform: translateX(-50%);
            @include large-break {
                top: 0;
            }
        }
        @include large-break {
            transform: translateY(0);
        }
        @include large-break {     
            display: flex;
            gap: base();
            flex-direction: column;
        }
    }

    &:nth-child(even) {
        transform: translateY(85%);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -14px; /* Adjust size */
            left: base();
            width: 0;
            height: 0;
            border-left: 15px solid transparent; /* Adjust size */
            border-right: 15px solid transparent; /* Adjust size */
            border-bottom: 15px solid var(--background-primary-element); /* Change color */
            transform: translateX(-50%);
            z-index: 2; /* Increase z-index */;
            @include large-break {
                display: none;
            }
        }
        .timelineIcon {
            top: -85px;
            left: base();
            transform: translateX(-50%);
            @include large-break {
                top: 0;
            }
        }
        @include large-break {
            transform: translateY(0);
        }
    }
    @include large-break {
            width: max-content;
    }
}

.timelineElements {
    position: relative;
    display: flex;
    gap: base();
    flex-direction: row;
    @include large-break {
        flex-direction: column;
    }
}

.widthConstraint {
    display: flex;
    @include large-break {
        &:before {
            content: '';
            position: absolute;
            bottom: -14px; /* Adjust size */
            width: 0;
            height: 0;
            border-left: 15px solid transparent; /* Adjust size */
            border-right: 15px solid transparent; /* Adjust size */
            border-top: 15px solid var(--background-primary-element); /* Change color */
            transform: translateX(-50%);
            z-index: 2; /* Increase z-index */;
            @include large-break {
                left: base(2.25);
                transform: rotate(90deg);
                top: base(0.5);
            }
        }
        width: 600px;
    }
    @include small-break {
        width: 300px;
    }
}

.timelineLine {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    background-color: var(--background-primary-element);
    transform: translateY(-50%);
    @include large-break {
        position: absolute;
        height: 100%;
        width: 20px;
        top: unset;
        bottom: unset;
        width: 20px;
        right: unset;
        left: base(0.6);
        display: flex;
        transform: translateY(0);
    }
}

.timelineIcon {
    background-color: var(--color-default-shadow);
    border-radius: 50%;
    padding: base(0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 48px;
    height: 48px;
}

.icon {
    width: 32px;
    height: 32px;
    transform: translateY(20%);
}

.relative {
    position: relative;
    display: flex;
    @include large-break {
        padding-left: base(3);
    }
}

.shown {
    display: block;
}

.hidden {
    display: none;
}