@use '@/scss/common' as *;

.track {
    @include hide-scrollbar;
    height: 100%;
}

.dot {
    transition: 0.15s ease all;
    width: 20px;
    height: 20px;
    background-color: rgba($color: rgb(69, 60, 60), $alpha: 0.5);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    @include small-break {
        width: 12px;
        height: 12px;
    }
}

.dotIsActive {
    background-color: white;
    transition: 0.15s ease all;
    transform: scale(1.1);
}

.dotNav {
    right: 50%;
    transform: translateX(50%);
    transition: 0.15s ease all;
    gap: base(0.25);
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: base(0.5);
    z-index: 3;
}

.button {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--font-color);
}

.sliderButtonWrap {
    position: absolute;
    bottom: calc(50% - 24px);
}

.nextWrap {
    right: base(-0.5);
}

.prevWrap {
    left: base(-0.5);
}

