@use '@/scss/common' as *;

.slideImage {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;

    .projectInfoWrap {
        opacity: 0;
        transition: opacity 0.3s ease; 
        transition-delay: 0.1s;
    }

    &:hover {
        .projectInfoWrap {
            opacity: 1; 
            transition: opacity 0.3s ease;
            transition-delay: 500ms; 
        }
    }
}

.track {
    @include hide-scrollbar;
}

.dot {
    transition: 0.15s ease all;
    width: 20px;
    height: 20px;
    background-color: rgba($color: rgb(69, 60, 60), $alpha: 0.5);
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.dotIsActive {
    background-color: white;
    transition: 0.15s ease all;
    transform: scale(1.1);
}

.dotNav {
    right: 50%;
    transform: translateX(50%);
    transition: 0.15s ease all;
    gap: base(0.25);
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: base(0.5);
    z-index: 3;
}

.button {
    padding: base(0.25);
    cursor: pointer;
    display: flex;
    width: 100%;
    height: auto;
    border: none;
    background-color: var(--background-primary-element);
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--font-color);
}

.sliderButtonWrap {
    position: absolute;
    bottom: calc(50% - 24px);
}

.nextWrap {
    right: base(-0.5);
}

.prevWrap {
    left: base(-0.5);
}

.projectInfoWrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--project-filter);
    backdrop-filter: blur(10px);
    padding: base();
    @include mid-break {
        padding: base(0.5);
    }
}

.projectInfo {
    display: grid;
    grid-template-columns: 3, 1fr;
}

