@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Thin-100.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Extra-Light-200.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Light-300.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Normal-400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Medium-500.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Semi-Bold-600.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Bold-700.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Extra-Bold-800.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url('/fonts/mosk/Mosk-Ultra-Bold-900.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Pen Script", cursive;
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
  font-weight: 400;
  font-style: normal;
}