$html-font-size-xl: 20;
$html-line-height-xl: 30;
$html-font-size-l: 17;
$html-line-height-l: 28;
$html-font-size-m: 16;
$html-line-height-m: 24;

$breakpoint-xs-width: 400px;
$breakpoint-s-width: 768px;
$breakpoint-m-width: 1024px;
$breakpoint-l-width: 1279px;
$breakpoint-xl-width: 1679px;
$breakpoint-xxl-width: 1920px;

$color-brand-orange: #FA5F55;
$color-brand-purple: #6961FA;
$color-brand-white: #FBF9F7;
$color-brand-black: #090808;

$color-default-white: #ffff;
$color-default-black: #0000;

$color-dark-gray: #1d1b19;
$color-gray: #4e4949;
$color-light-gray: #dad3d3;

$color-default-shadow: #EAEAEA;

$dark-color-brand-orange: #FA5F55;
$dark-color-brand-purple: #6961FA;

$dark-color-dark-gray: #1e1c1c;
$dark-color-gray: #8f8989;
$dark-color-light-gray: #dad3d3;

$dark-color-default-shadow: #EAEAEA;

$fontHeading: "Gayathri", serif;
$fontBody: "Gayathri", serif;

$header-height: 48px;