$html-font-size-xl: 20;
$html-line-height-xl: 30;
$html-font-size-l: 17;
$html-line-height-l: 28;
$html-font-size-m: 16;
$html-line-height-m: 24;

$breakpoint-xs-width: 400px;
$breakpoint-s-width: 768px;
$breakpoint-m-width: 1024px;
$breakpoint-l-width: 1279px;
$breakpoint-xl-width: 1679px;
$breakpoint-xxl-width: 1920px;

//COLORS

$color-brand-orange: #FA5F55;
$color-brand-purple: #6961FA;
$color-brand-white: #f4f4f5;
$color-brand-black: #0a090b;

$color-white: #ffff;
$color-black: #0000;

$light-mode-filter: $color-black;
$dark-mode-filter: $color-white;

$color-dark-gray: #e9e9f6;
$color-gray: #4e4949;
$color-light-gray: rgb(232, 230, 238);

$color-default-shadow: rgba($color: #201412, $alpha: 0.2);

$header-color: rgba($color: #f2eae8, $alpha: 0.8);

$skills-color: rgba($color: #ffff, $alpha: 0.9);

$background-primary-element: #ffffff;

$dark-background-primary-element: #1e1d22; 

$dark-color-brand-orange: #FA5F55;
$dark-color-brand-purple: #6961FA;

$dark-color-dark-gray: #0f0f11;
$dark-color-gray: #8f8989;
$dark-color-light-gray: #27252e;

$dark-color-default-shadow: rgba($color: #414157, $alpha: 0.5);

$bg-opacity: 10%;
$dark-bg-opacity: 20%;

$dark-header-color: rgba($color: #181823, $alpha: 0.9);

$dark-skills-color: rgba($color: #100f15, $alpha: 0.9);

$orange-gradient-1: rgb(250,95,85);
$orange-gradient-2: -moz-linear-gradient(356deg, rgba(250,95,85,1) 0%, rgba(255,136,0,1) 100%);
$orange-gradient-3: -webkit-linear-gradient(356deg, rgba(250,95,85,1) 0%, rgba(255,136,0,1) 100%);
$orange-gradient-4: linear-gradient(356deg, rgba(250,95,85,1) 0%, rgba(255,136,0,1) 100%);

$purple-gradient-1: rgb(105,97,250);
$purple-gradient-2: -moz-linear-gradient(356deg, rgba(105,97,250,1) 0%, rgba(47,51,186,1) 100%);
$purple-gradient-3: -webkit-linear-gradient(356deg, rgba(105,97,250,1) 0%, rgba(47,51,186,1) 100%);
$purple-gradient-4: linear-gradient(356deg, rgba(105,97,250,1) 0%, rgba(47,51,186,1) 100%);

$scrollbar-thumb: rgb(189, 179, 176);
$scrollbar-track: rgb(249, 245, 244);
$scrollbar-hover: rgb(206, 195, 191);

$dark-scrollbar-thumb: rgb(59, 55, 77);
$dark-scrollbar-track: rgb(35, 32, 49);
$dark-scrollbar-hover: rgb(79, 74, 99);

//FONT

$fontHeading: "Mosk", serif;
$fontBody: "Gayathri", serif;

$header-height: 72.86px;
$small-header-height: 64.29px;