$html-font-size-xl: 20;
$html-line-height-xl: 30;
$html-font-size-l: 17;
$html-line-height-l: 28;
$html-font-size-m: 16;
$html-line-height-m: 24;

$breakpoint-xs-width: 400px;
$breakpoint-s-width: 768px;
$breakpoint-m-width: 1024px;
$breakpoint-l-width: 1279px;
$breakpoint-xl-width: 1679px;
$breakpoint-xxl-width: 1920px;

$color-brand-orange: #FA5F55;
$color-brand-purple: #6961FA;
$color-brand-white: #f4f4f5;
$color-brand-black: #0a090b;

$color-white: #ffff;
$color-black: #0000;

$color-dark-gray: #e9e9f6;
$color-gray: #4e4949;
$color-light-gray: rgba(232, 230, 238, 0.8);

$color-default-shadow: rgba($color: #3a2d2b, $alpha: 0.7);

$background-primary-element: #ffffff;

$dark-background-primary-element: #211e25;

$dark-color-brand-orange: #FA5F55;
$dark-color-brand-purple: #6961FA;

$dark-color-dark-gray: #0f0f11;
$dark-color-gray: #8f8989;
$dark-color-light-gray: #1b1a1f;

$dark-color-default-shadow: rgba($color: #565263, $alpha: 0.7);

$fontHeading: "Mosk", serif;
$fontBody: "Gayathri", serif;

$header-height: 75px;