@use '@/scss/common' as *;

.footerWrap {
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--background-primary-element);
    align-items: center;
    gap: base(2.5);
    padding: base();
    @include large-break {
        gap: base(1.5);
    }
    @include small-break {
        flex-direction: column;
    }
}

.section {
    font-size: medium;
    border: 1px solid var(--brand-color);
    padding: base(0.5);
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: var(--background-primary-element);
}

.linkSection {
display: block;
p {
    margin: 0;
    padding-bottom: base(0.5);
}
@include small-break {
    font-size: small;
}
}

.linksArray {
    display: flex;
    gap: base(0.5);
}

.firstHalf {
    display: flex;
    align-items: center;
    gap: base(2.5);
    @include large-break {
        gap: base(1.5);
    }
    @include small-break {
        width: 100%;
    }
}

.icon {
    filter: var(--filter-color);
    @include small-break {
        width: 20px;
        height: 20px;
    }
}

.copyrightSection {
   display: block;
    p {
        margin: 0;
    }
    @include small-break {
        width: 100%;
        font-size: small;
    }
}

.documentation {
    display: flex;
    gap: base();
    align-items: center;
    padding-bottom: base(0.5);
    @include small-break {
        font-size: small;
    }
}

.docsArray {
    display: flex;
    gap: base(0.5);
}

.paddingBottom {
    padding-bottom: base(0.5);
}

.copyrightLabel {
    font-size: small;
    @include small-break {
        font-size: smaller;
    }
}

.toTop {
    position: absolute;
    right: base();
    bottom: base(.5);
}